.modal-image {
    /* max-width: 600px; */
    border-radius: 10px;
    padding-bottom: 10px;
}

.modal-text {
    max-width: 600px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .modal-image {
        width: 100%;
        height: auto;
      }
  }